LINE_CHANNEL_ACCESS_TOKEN=
CRON_SECRET=change-me

SHEET_ID=1AEQSsiLUbr5p6HYh36WNGF9TkUDVeW2xN-vDvDkjy1k
SHEET_NAME=Sheet1
GOOGLE_CREDS_JSON={...}

COL_TICKET_ID=TICKETID
COL_OWNER_GROUP=trueownnergroup
COL_CREATION=CREATIONDATE
COL_INSERT_TIME=insert_time
COL_TARGET_FINISH=TARGETFINISH
COL_SEVERITY=SEVERITY
COL_SUBJECT=SUBJECT
COL_CINAME=CINAME
COL_CATEGORIES=CATEGORIES
COL_LATITUDE=LATITUDE
COL_LONGITUDE=LONGITUDE

STATE_DIR=/data

LINE_TARGET_CMI=
LINE_TARGET_CRI=
LINE_TARGET_LPG=
LINE_TARGET_LPN=
LINE_TARGET_MHS=
LINE_TARGET_NAN=
LINE_TARGET_PHE=
LINE_TARGET_PYO=
LINE_TARGET_KPP=
LINE_TARGET_PCB=
LINE_TARGET_PCT=
LINE_TARGET_PSN=
LINE_TARGET_SKT=
LINE_TARGET_TAK=
LINE_TARGET_UTR=
